.logado{
  text-align: center;
  margin-top: 20px;

}
.logo{
  width: 60%;
  height: 80%;
}

.text{
  line-height: 1.0;
  font-size: 1.0rem;

}

.class-button{
  margin-top: 30px;

}
button{
  transform: scale(1.2);
  z-index: 1;
  background-color: #562795;
  border: 1px solid black;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
  color: white;
}
