.global{
column-count: 1;
  column-gap: 20px;

}
.radio-data{
  display: flex;
  width: 100%;
}
.name-email{
  width: 100%;
}
.campo-nome{
  width: 100%;
  display: block;
}
.campo-email{
  width: 100%;
  display: block;
}
.campo-data{
  width: 100%;
}


.text{
  color:#562795;
  width: 100%;
  font-family: Arial Black, serif;
  text-align: left;
  font-size: 20px;
  margin: 0 0 0 40px;

}
.nome{
  margin: 5px auto;
  min-width: 200px;
  width: 100%;
  max-width: 700px;
  height: 50px;
}
.email{
  margin: 5px auto;
  min-width: 200px;
  width: 100%;
  max-width: 700px;
  height: 50px;
}
.data{
  margin: 0 30px 10px 0;
  min-width: 200px;
  width: 90%;
  max-width: 700px;
  height: 50px;
}
.data-text{
  margin-right: 40px;
  width: 100%;
  display: block;
}
.text-data{
  color:#562795;

  font-family: Arial Black, serif;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}
.campo-sexo{
  width: 100%;
}
.sexo{

  line-height: 50px;
  color:#562795;
  font-family: Arial Black, serif;
  margin: 5px auto;
  min-width: 200px;
  width: 83%;
  max-width: 700px;
  height: 50px;
}
.male{
  font-family: Arial Black, serif;
  margin-top: 5%;
  margin-right: 10%;

}
.female{

  font-family: Arial Black, serif;
  margin-top: 5%;
  margin-right: 16%;

}
.sexo-text{
  margin-left: 1px;
  width: 50%;
  display: block;
}

.text-dentro{
 color: black;;
}
::placeholder{
  color: black;
}
/*.masculino, .feminino{
  color:#562795;

  font-family: Arial Black, serif;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}*/
